
.body{
    background-color: #b8b4e2f1;
}
.container{
    margin: 200px 300px auto 300px;
    padding:50px;
    border:1px solid black;
    border-radius: 5px;
    background-color:#36353c     ;
    box-shadow: 2px 2px 10px 10px #b9dfff55 ;
    text-align: center;
}
.tab{
    border:8px solid rgb(219, 171, 75);;
    padding:10px;
    border-radius: 2px;
    background-color:#E0E9E9    ;
    
    
}
table, th, td {
    border: 3px solid  rgb(219, 171, 75);
    border-collapse: collapse;
    border-radius: 10px;
    padding: 10px;
} 
thead th {
    width: 70%;
  }
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#f2f3f7;
    font-size: 35px;
    font-weight: 600;
    
}


