.menu-h{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #09152b;
    text-align: center;
    padding-top: 10px;

}

.img{
    width: 1050px;
    height: 600px;
    padding-left: 250px;
}